<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAth!</title>
  </head>
  <body>
    <h1>Give me your 2 numbers!</h1>
    <form action="/math" method="post">
      <label for="first_num"
        >First Num: <input name="first_num" type="number" /></label
      ><br />
      <label for="second_num"
        >Second Num: <input name="second_num" type="number" /></label
      ><br />
      <button type="submit">Submit</button>
    </form>
    <p><a href="/">Back to home</a></p>
  </body>
</html>
